In [7]:
import pandas as pd

In [8]:
from pivottablejs import pivot_ui

In [9]:
df = pd.read_csv("Sales_Transaction.csv")

In [15]:
df2 = df.head(100)
df2

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,581478,12/9/2019,23503,Playing Cards Keep Calm & Carry On,11.53,12,17364.0,United Kingdom
96,581478,12/9/2019,23445,Ice Cream Bubbles,11.10,20,17364.0,United Kingdom
97,581478,12/9/2019,23530,Wall Art Only One Person,15.32,12,17364.0,United Kingdom
98,581478,12/9/2019,84997C,Childrens Cutlery Polkadot Blue,14.50,4,17364.0,United Kingdom
99,581478,12/9/2019,84997D,Childrens Cutlery Polkadot Pink,14.50,4,17364.0,United Kingdom

In [16]:
pivot_ui(df2)